/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.Profile_Card{
    display: flex;
    flex-direction:column;
    max-width: 370px;
    width: 100%;
    background: aliceblue;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0  5px 10px black;
    position: relative;

}

.Profile_Card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height:36%;
    width: 100%;
    border-radius: 24px 24px;
    background-color: #4f75dd;
}

.image{
    
    position: relative; left:28%; top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(33, 91, 142);
    padding: 3px;
    margin-bottom: 13px;

}

.image .Profile_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid wheat;
}

.Profile_Card .text-data{
    display: flex;
    flex-direction:column;
    align-items: center;

}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data job{
    font-size: 15px;
    font-weight: 400;
    
}

.Profile_Card .media_button{
    display: flex;
    
    align-items: center;
    margin-top: 15px;
    position: relative; left: 20%;bottom: 15px;
    padding: 10px;
    gap: 10px;
    
}

 .bx{
    
    display: flex;
    justify-content: center;
    
   text-align: center;
    color: #fff;
    font-size: 20px;
    height: 33px;
    width: 33px;
    text-decoration: none;
     margin: 5px 5px;
    
    
}

.bxl-linkedin{
    position: relative; top: 5px;
}



.bxl-github{
    position: relative; top: 5px;
}

.bxl-facebook-square{
    position: relative; top: 5px;
}

.bxl-instagram{
    position: relative; top: 5px;
} 
.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    position: relative; ;left: 50px;
}

.buttons .button:hover{
    background-color: #0e4bf1;
}

.Profile_Card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7; 
}

.data{
    font-size: 18px;
    margin: 6px;
}

.bx-heart{
    color: #333;
    position: relative; top: 6px;
}

.bx-share{
    color: #333;
    position: relative; top: 6px;
}

.bx-message-rounded-dots{
    color: #333;
    position: relative; top: 6px;
}

.data:last-child{
    border-right: none;

}